/* GRID CONTAINER: */
.container {
  display: grid;
  width: 100%;
  height: calc(100vh - 40px);
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr 100px;
  grid-gap: 1rem;
  grid-template-areas:
    "header header header"
    "sidebar content-1 content-1"
    "sidebar content-2 content-3"
    "footer footer footer";
}

/* Outros: */
.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content-1 {
  grid-area: content-1;
}

.content-2 {
  grid-area: content-2;
}

.content-3 {
  grid-area: content-3;
}

.footer {
  grid-area: footer;
}

/* OTHER STYLES */

body {
  margin: 0;
  background-color: #3b404e;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.item {
  background-color: #1eaafc;
  background-image: linear-gradient(
    130deg,
    #6c52d9 0%,
    #1eaafc 85%,
    #3edfd7 100%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #ffffff;
  border-radius: 4px;
  border: 6px solid #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.header {
  background-color: #1eaafc;
  background-image: linear-gradient(160deg, #6c52d9 0%, #9b8ae6 127%);
}

.sidebar {
  background-image: linear-gradient(203deg, #3edfd7 0%, #29a49d 90%);
}

.content-1,
.content-2,
.content-3 {
  background-image: linear-gradient(
    130deg,
    #6c52d9 0%,
    #1eaafc 85%,
    #3edfd7 100%
  );
}

.footer {
  background-color: #6c52d9;
  background-image: linear-gradient(160deg, #6c52d9 0%, #9b8ae6 127%);
}
